*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-container{
    width: 100%;
    min-height: 70px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-control{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.view{
    background-color: lightgray;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.view i {
   border-radius: 10px;
    
}

.screen{
    background-color: lightgrey;
    border-radius: 10px;

}

.screen i{
    padding: 5px;
    color: white;
    min-height: 28px;
}

a{
    text-decoration: none;
}

/* MAIN CSS */
.container{
    width: 100vw;
    padding: 10px;
    margin: 70px auto;
    background-color: cyan;
}

.columns{
    display: flex;
    flex-wrap: wrap;
    background-color: red;
    
}

.col{
    max-height: 150px;
    background-color: green;
    position: relative;
    margin: 5px;
    width: calc((100% / 7) - 10px);
}

.item{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
}
.nome {
    position: absolute;
    left: 20px;
    bottom: 0;
    color: white;
    background-color: #d3d3d378;
    padding: 2px;
}

.fa-microphone-slash{
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  background-color: #d3d3d378;
  padding: 3px;
}